@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in; }

html {
  font-size: 10px;
  height: 100%; }

body {
  min-height: 100%;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background-color: #E5EEEE; }

.container {
  margin: 0 auto;
  max-width: 1140px; }

a {
  color: inherit;
  text-decoration: none; }

.form {
  width: 400px;
  height: 496px;
  background-image: url(../img/formbg.jpg);
  margin: 70px auto;
  -webkit-box-shadow: 1px 78px 48px -13px rgba(45, 68, 94, 0.76);
  box-shadow: 1px 78px 48px -13px rgba(45, 68, 94, 0.76); }
  .form__container {
    padding: 50px 70px; }
  .form__opt {
    font-weight: 700;
    display: inline-block;
    padding: 0 0 30px 0;
    margin: 0; }
    .form__opt li {
      display: inline-block;
      border-bottom: 2px solid transparent;
      color: #fbf6e4; }
      .form__opt li:hover {
        border-color: #e66a64; }
    .form__opt--active {
      border-bottom: 2px solid  #e66a64; }
    .form__opt li:nth-child(1) {
      margin-right: 10px; }
  .form__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700; }
    .form__label--cstm {
      font-size: 1.4rem;
      padding-left: 15px;
      text-indent: -15px; }
  .form__input {
    width: 100%;
    outline: none;
    margin: 5px 0 20px 0;
    background-color: transparent;
    border: 2px solid #a389ca;
    color: #fff;
    padding: 7px; }
    .form__input:focus {
      border-color: #d1d72e; }
    .form__input:invalid:not(:placeholder-shown) {
      border-color: #fa2c2c; }
    .form__input:valid:not(:placeholder-shown) {
      border-color: #2df428; }
  .form__chk[type="checkbox"] {
    vertical-align: bottom;
    margin-right: 5px;
    -webkit-appearance: none;
    background-color: #FFF;
    width: 16px;
    height: 16px; }
    .form__chk[type="checkbox"]:checked {
      background-color: #23ae92;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjRkZGRkZGIi8+Cjwvc3ZnPgo=);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  .form__reg {
    display: inline-block;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .form__reg li {
      display: inline-block;
      font-size: 1.3rem;
      color: #b9b9cc;
      border-bottom: 1px solid #b9b9cc; }
  .form__btn {
    margin: 45px 0 30px 0;
    width: 100%;
    padding: 7px;
    background-color: #23AE92;
    border: 1px solid #23AE92;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fbf6e4; }
    .form__btn:hover {
      background-color: transparent;
      cursor: pointer; }
